body {
    font-family: "Lato", sans-serif;
    background-color:#a8a8a8;
    /*background-color:#867979;*/
    padding:0;
}


#main{
    transition: 0.3s;
    margin-left: 0;
    width:100%;
}

/***** Header style *****/
.navbar {
    background-color: #4A4A4A;
    margin:0px;
    min-height: 80px;
}

.navbar-header {
    float: left;
    width: 100%;
    
}

.navbar-wordbrand{
    color: #FFFFFF;
    font-size: 170%;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;



/*    min-height: 110px;
*/}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

/****** Collection Menu characteristics *******/

.collectionMenu {
    margin-right: 0;
    text-align: center;
    line-height:15px;
    font-size:14px;
}

.collectionMenuList li {
    display: inline-block;
}

.collectionMenuList li:last-child {
    margin-right: 15px;
}

.collectionMenuList li a {
    color:#81BEF7;
    padding: 15px;
/*    min-height: 110px;
*/}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .sidebar-links a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidebar-footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    /*height: 100px;*/
}

.sidebar-footer i {
    padding: 0px 10px 0px 0px;
}

.sidebar-footer a {
    padding: 2px 2px 2px 32px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    display: block;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}

/********** Drag and Drop CSS *******/
#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	color: white;
	border: 2px dashed white;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

progress { width: 100%; }
progress:after { content: '%'; }

/****** File Format CSS *******/

#abc{
width: 100%;
height: 100%;
opacity: 0.95;
top: 0;
left: 0;
display: none;
position: fixed;			
background-color: #313131;
overflow:auto;
color:white;
}

img#close{
position: absolute;
right: -14px;
top: -14px;
cursor: pointer;
}

div#popupContact{
position: absolute; 
left: 25%;
top: 17%;
margin-left: -202px;
/*font-family: 'Raleway', sans-serif;*/
}

/*form{
max-width: 300px;
min-width: 250px;
padding: 10px 50px;
border: 2px solid gray;
border-radius: 10px;
font-family:raleway;
background-color: white;
}

p{
margin-top: 30px;
}

h2{
background-color: #FEFFED;
padding: 20px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
}

hr{
margin: 10px -50px;
border: 0; 
border-top: 1px solid #ccc;
}
 
input[type=text]{
width:82%;
padding: 10px;
margin-top: 30px;
border: 1px solid #ccc;
padding-left: 40px;
font-size: 16px;
font-family:raleway;
} 
*/
#submit{
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color: white;
border: 1px solid #FFCB00;
padding: 10px 0;
font-size:20px;
cursor:pointer;
border-radius: 5px;
}

/*button{
width:10%;
height:45px;
border-radius:3px;
background-color: peru;
color:white;
font-family: 'Raleway', sans-serif;
font-size:18px;
cursor:pointer;
}*/

/******* waiting icon CSS *******/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


/******** miscellanea ***********/
xmp {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
//    background-color: #a8a8a8;
}





